<div class="container">
    <input type="image" src="../../assets/images/driverseat.jfif" width="40px" height="50px" class="seat">
<ul class="ol" style="list-style-type: none;">
    <li> 
     <input type="button" value="01" class="button" style="margin-left: 52%;"> 
      <input type="button" value="02" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="03" class="button"> 
     <input type="button" value="04" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="05" class="button"> 
      <input type="button" value="06" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="07" class="button"> 
     <input type="button" value="08" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="09" class="button"> 
      <input type="button" value="10" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="11" class="button"> 
     <input type="button" value="12" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="13" class="button"> 
      <input type="button" value="14" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="15" class="button"> 
     <input type="button" value="16" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="17" class="button"> 
      <input type="button" value="18" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="19" class="button"> 
     <input type="button" value="20" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="21" class="button"> 
      <input type="button" value="22" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="23" class="button"> 
     <input type="button" value="24" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="25" class="button"> 
      <input type="button" value="26" class="button">
    </li>
</ul>
<ul class="ol" style="list-style-type: none;">
    <li> <input type="button" value="27" class="button"> 
     <input type="button" value="28" class="button">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="button" value="29" class="button"> 
      <input type="button" value="30" class="button">
    </li>
</ul>
</div>
